{% extends 'management/manage_home.html' %}
{% load static %}
{% block content %}


<style>
table, th, td {
  border:1px solid black;

  font-color:white;

}

th{
 background-color:black;
 color:white;

}


h1{color:white}
</style>
<script>
      {% for msg in messages %}

      	 alert('{{ msg }}');
      {% endfor %}
</script>


   <div class="container" style="margin-top:-190px; margin-left:-20px;"><br><br>
        <center>
            <h1> CLIENT DETAILS</h1></center>
        <br>

        <table class="table" style="margin-left:30px">
            <thead>


            <tr style="font-family:verdana; background-color:white;text-align: center;">
  <tr>
      <th><CENTER>NAME</CENTER></th>
      <th><CENTER>EMAIL</CENTER></th>
      <th><CENTER>PHONE NUMBER</CENTER></th>
      <th><CENTER>CITY</CENTER></th>
      <th><CENTER>APPROVAL</CENTER></th>

 </tr>
            </thead>
            <tbody>
            {% for data in datas %}
            <tr style="background-color:#256D85;color:white;text-align: center;">
            <td style="color:white;">{{data.name}}</td>
            <td style="color:white;">{{data.email}}</td>
            <td style="color:white;">{{data.phonenumber}}</td>
            <td style="color:white;">{{data.city}}</td>

             <td style="color:white;"><a href="/login_approve_button/{{data.id}}/"><button class="btn btn-info">Approve </a></td>


  </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
